.atmosphere {
	display: flex;
	align-items: center;
	position: relative;
	height: 400px;

	&__title {
		text-transform: none;
		font-weight: 400;
		text-align: center;
		color: var(--second-color);
	}
}
