.main {
	padding: 410px 0 250px 0;
	position: relative;
	height: 880px;

	&__title {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 620px;
		//color: var(--second-color);
		//z-index: 1;
		text-align: center;

		h1 {
			color: var(--second-color);
		}
	}

	&__btn {
		margin-top: 40px;
	}

}
