.main {
	position: relative;
	height: 880px;
	background-image: url("../images/main_image.webp");
	background-repeat: no-repeat;
	background-size: cover;
	//z-index: -10;

	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.3);
		//z-index: 0;
	}

	&__title {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 620px;
		color: var(--second-color);
		z-index: 1;
		text-align: center;
	}

	&__btn {
		margin-top: 40px;
	}

	.divider {
		position: absolute;
		top: 100px;
		left: 0;
		background-color: #3b3b3b;
		z-index: 10;
	}
}
