<section class="connection">
	<div class="container">
		<div class="connection__wrapper">
			<div class="connection__description">
				<h2 class="title title_fz30 connection__title">SEND US YOUR REVIEWS</h2>
				<p class="connection__text">Pellentesque ultricies quam dui, id portt tor leo iaculis nec. Phasellus ac neque.</p>
				<h6 class="title title_fz14 connection__work">WORKING HOURS</h6>
				<span class="connection__time">12:00pm - 12:00am</span>
			</div>
			<form action="#" class="connection__form">
				<input name="name" type="text" class="input-reset connection__input" required placeholder="Your name">
				<input name="email" type="email" class="input-reset connection__input" required placeholder="Your email">
				<input name="address" type="text" class="input-reset connection__input" required placeholder="Your address">
				<input name="subject" type="text" class="input-reset connection__input" required placeholder="Subject">
				<textarea name="text" id="text" class="textarea-reset connection__textarea" placeholder="White message"></textarea>
				<div class="connection__btn">
					<button class="btn btn-reset">SEND US MESSAGE</button>

					<div class="connection__policy">
						<input required type="checkbox">
						<span class="title title_fz12">I agree with <a href="#">the privacy policy</a></span>
					</div>
				</div>
			</form>
		</div>
	</div>
</section>
