<form action="#" class="form">
	<input name="name" type="text" class="input-reset form__input" required placeholder="Your name">
	<input name="email" type="email" class="input-reset form__input" required placeholder="Your email">
	<input name="address" type="text" class="input-reset form__input" required placeholder="Your address">
	<input name="subject" type="text" class="input-reset form__input" required placeholder="Subject">
	<textarea name="text" id="text" class="textarea-reset form__textarea" placeholder="White message"></textarea>
	<div class="form__btn">
		<button class="btn btn-reset">SEND US MESSAGE</button>

		<div class="form__policy">
			<input required type="checkbox">
			<span class="title title_fz12">I agree with <a href="#">the privacy policy</a></span>
		</div>
	</div>
</form>
