<header class="header">
	<div class="container">
		<nav class="header__menu">
			<ul class="header__menu-list">
				<li class="header__menu-link"><a href="index.html">Welcome</a></li>
				<li class="header__menu-link"><a href="about_us.html">About us</a></li>
				<li class="header__menu-link"><a href="#">Menu</a></li>
			</ul>
			<a href="#" class="logo header__menu-logo">
				<img src="resources/icons/logo_cafe.svg" alt="logo">
			</a>
			<ul class="header__menu-list">
				<li class="header__menu-link"><a href="#">Story</a></li>
				<li class="header__menu-link"><a href="#">Contacts</a></li>
				<li class="header__menu-link"><a href="#">Reservation</a></li>
			</ul>
		</nav>
	</div>
</header>
